*
{
    margin:0px;
    
}
#nav ul{
    
    list-style: none;
   display: flex;
   color:white;
   position: absolute;
   font-weight: 900;
   margin-left: 38%;
   opacity: 1;
   
  
   
   

}
#nav ul li
{
    padding: 5px;
    margin:2px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    height:30px;
    width:70px;
    
}
#nav ul li:hover
{
    background-color: black;
    opacity:0.7;
    
}
#nav ul li >ul
{
    display:none;
}
#nav ul li:hover>ul
{
    display:block;
    position: relative;
}
#nav ul li
{
    text-decoration: none;
    color:white;
    font-weight: 900;
   font-family:Comic Sans MS;
   font-size: 18px;
    
}
#nav
{
    height: 200px;
    position: sticky;
    opacity:0.9;
    align-items: center;
    background-image: url('nav.jpg');
    
}

#branch
{   
    display:flex;
    position: sticky;
    padding: 5px;
    justify-content: center;
    box-shadow: 5px 5px 60px black;
    background-image: url('branch.png');
}
.logo
{   
    height:150px;
    width:150px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
    margin:2px;
}
.logo:hover
{
    opacity:0.6;
}
form
{   width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    left:38%;
    top:100px;
    
}
.log
{
    justify-self: center;
}

